{
    "eslintIntegration": true,
    "stylelintIntegration": true,
    "tabWidth": 4,
    "singleQuote": true,
    "semi": false,
    "overrides": [
        {
            "files": ".prettierrc",
            "options": { "parser": "json" }
        },
        {
            "files": "src/**/*.scss",
            "options": {
                "singleQuote": false,
                "semi": true
            }
        }
    ]
}
